<div class="container">
  <div class="box-center">
    <h1 class=" box roboto-heading">
      Angular Front End Applicatiom
    </h1>
  </div>
<div class="box-center">
    <input list="browsers" name="browser">
<datalist id="browsers">
  <option value="Chrome">
  <option value="Firefox">
  <option value="Safari">
</datalist>
</div>

<div>
  <output name="result" for="a b"></output>
</div>

<div>
  <progress  value="70" max="100">  70 </progress>
</div>
<div>
  <meter value="0.6">60%</meter>
</div>
<div>
  <input type="range">
</div>
  <div>
    <article>
      <h3>Latest Article</h3>
      <p>Published on <time datetime="2025-05-25">May 25, 2025</time></p>
      <p>HTML5 makes your code more readable and accessible. For example, you can use the <mark>&lt;mark&gt;</mark> tag to highlight important text.</p>
      <figure>
        <img src="https://via.placeholder.com/300x100" alt="Sample Image">
        <figcaption>Figure 1: Placeholder image showing structure</figcaption>
      </figure>
    </article>
  </div>

  <div style="display: grid;">
      <div >
        child one
      </div>
      <div>
        child two
      </div>
      <span>Shaileshankushpawaryedsi -routeadded</span>
  </div>
  <div class=" a ,b" id="ident">
  </div>
</div>
<router-outlet></router-outlet>