
.d-flex {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.container {
    width: 500px;
    background-color: burlywood;
    padding: 25px;
    border-radius: 10px;
}

form div {
    margin-bottom: 20px;
}
label {
    margin-top: 20px;
    display: block;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    max-width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;

}
input:focus {
border-color: #007bff;
  outline: none;
}
button {
   width: 100%;
  padding: 14px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}
.button-invalid {
    background-color: #ccc;
}
.button-valid {
    background-color: red;
}
